Repository navikt/dinesykmeldte-sidemeny: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): resolve cross-spawn vuln
  yarn.lock
Due: none

chore: bump dependencies
  example/next-env.d.ts
  example/package.json
  example/pages/_app.tsx
  library/package.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: bump dependencies
  example/package.json
  library/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): fix form-data vuln
  yarn.lock
Due: none

chore: fix CODEOWNERS
  CODEOWNERS
Due: none

Fix typings export so that consuming apps can use "bundler" moduleResolution in tsconfig
  library/package.json
Due: yarn prettier --write

Fix typings export so that consuming apps can use "bundler" moduleResolution in tsconfig (#166)
  library/package.json
Due: yarn prettier --write

feat: dependabot cooldown config
  .github/dependabot.yml
Due: yarn prettier --write

feat: dependabot cooldown config (#182)
  .github/dependabot.yml
Due: yarn prettier --write

fix: remove proxy links for dinesykmeldt app
  library/lib/SideMenu/MenuItem/MenuItemUtils.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remove unused page variable
  library/lib/SideMenu/MenuItem/MenuItem.tsx
  library/lib/SideMenu/MenuItem/MenuItemUtils.tsx
Due: yarn eslint --fix --max-warnings=0

fix: remove proxy links for dinesykmeldt app (#192)
  library/lib/SideMenu/MenuItem/MenuItem.tsx
  library/lib/SideMenu/MenuItem/MenuItemUtils.tsx
Due: yarn eslint --fix --max-warnings=0

fix: deploy github pages
  .github/workflows/pages.yml
Due: yarn prettier --write

fix: deploy github pages (#194)
  .github/workflows/pages.yml
Due: yarn prettier --write

update lock file
  yarn.lock
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

Bump to Aksel V8
  example/package.json
  example/pages/index.tsx
  example/styles/Home.module.css
  example/styles/globals.css
  library/lib/NotificationDot/NotifcationDot.module.css
  library/lib/PageContainer/PageContainer.module.css
  library/lib/PageContainer/PageHeader/PageHeader.module.css
  library/lib/PageContainer/PageHeader/PageHeader.tsx
  library/lib/SideMenu/ExpandableMobileMenu/ExpandableMobileMenu.module.css
  library/lib/SideMenu/MenuItem/MenuItem.module.css
  library/lib/SideMenu/MenuItem/MenuItem.tsx
  library/lib/SideMenu/MenuItem/SubMenuItem.module.css
  library/lib/SideMenu/MenuItem/SubMenuItem.tsx
  library/lib/SideMenu/SideMenu.module.css
  library/package.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: set up Changesets for versioning and publishing
  .changeset/README.md
  .changeset/aksel-v8-major.md
  .changeset/config.json
  .github/prompts/aksel-v8-migration-review.prompt.md
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  README.md
  package.json
  yarn.lock
Due: yarn prettier --write

Bump to Aksel V8 (#195)
  .changeset/README.md
  .changeset/aksel-v8-major.md
  .changeset/config.json
  .github/prompts/aksel-v8-migration-review.prompt.md
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  README.md
  example/package.json
  example/pages/index.tsx
  example/styles/Home.module.css
  example/styles/globals.css
  library/lib/NotificationDot/NotifcationDot.module.css
  library/lib/PageContainer/PageContainer.module.css
  library/lib/PageContainer/PageHeader/PageHeader.module.css
  library/lib/PageContainer/PageHeader/PageHeader.tsx
  library/lib/SideMenu/ExpandableMobileMenu/ExpandableMobileMenu.module.css
  library/lib/SideMenu/MenuItem/MenuItem.module.css
  library/lib/SideMenu/MenuItem/MenuItem.tsx
  library/lib/SideMenu/MenuItem/SubMenuItem.module.css
  library/lib/SideMenu/MenuItem/SubMenuItem.tsx
  library/lib/SideMenu/SideMenu.module.css
  library/package.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: update CI and release workflows for improved authentication and permissions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .npmrc
Due: yarn prettier --write

chore: remove Aksel v8 migration review prompt
  .github/prompts/aksel-v8-migration-review.prompt.md
Due: yarn prettier --write

Bump to aksel v8 (#197)
  .changeset/aksel-v8-major.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .npmrc
Due: yarn prettier --write

chore: remove leftover changeset
  .changeset/aksel-v8-major.md
Due: yarn prettier --write

chore: remove leftover changeset (#199)
  .changeset/aksel-v8-major.md
Due: yarn prettier --write

Add dependabot automerge workflow
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
Due: yarn prettier --write

Add dependabot automerge workflow (#216)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
Due: yarn prettier --write

feat: change workflows to pnpm
  .github/workflows/ci.yml
  .github/workflows/pages.yml
  .github/workflows/release.yml
Due: yarn prettier --write

Format lefthook configuration
  lefthook.json
Due: yarn prettier --write

Replace husky and lint-staged with lefthook
  .husky/pre-commit
  .lintstagedrc
  .npmrc
  lefthook.json
Due: yarn prettier --write

chore: add local mise to gitignore
  .gitignore
Due: none

chore: format
  .github/workflows/pages.yml
Due: yarn prettier --write

fix: naming
  .github/workflows/pages.yml
Due: yarn prettier --write

feat: more tasks for mise
  .mise.toml
  README.md
Due: yarn prettier --write

chore: bump node to 24
  .mise.toml
  README.md
  package.json
Due: yarn prettier --write

chore: format
  package.json
Due: yarn prettier --write

fix: dependencies mise
  .mise.toml
Due: none

doc: update
  README.md
Due: yarn prettier --write

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls,yml,md,mdx,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
